
body{
    padding: 0;
    margin: 0;
}

#heading{
    color: white;
    text-align: center;   
    background-color: black;
    margin: 0%;
    padding: 0%;
    font-size:200%;
    font-family: inherit;
}

#bruh{
    text-align: center;
    background-color: antiquewhite;
    border-color: black;
    font-size: larger;
}

#numberinput{
    text-align: center;
}

#readyres{
    display: flex;
    justify-content: center;
    align-items: center;
}